<% if post.errors.any? %>
    <section>
        <h2> Your Post could not be saved. </h2>
        <h3> 
            Please correct the following
            <%= pluralize(post.errors.size, "error")%>:
        </h3>
        <ul>
            <% post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </section>
<% end %>