<section>
    <div>
        <h1><%= @post.title %></h1>
        <p>
            <%= @post.content%>
        </p>
    </div>


</section>
<section>
    <%= link_to "Delete", @post, method: :delete, data: {confirm: "Are you sure you want to delete this?"} %>
    <%= link_to "Edit", edit_post_path(@post) %>
</section>
